.mailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
    width: 50vw;
    margin-left: auto;
    border: 4px solid #ccc;
    border-radius: 20px 0 0 20px;
}

.mail {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #ffe8e6;
}

.mailReceiver {
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.mailSender {
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.mailReceiverText {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 2%;
    margin-right: 2%;
}

.mailSenderText {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 2%;
    margin-right: 2%;
}

.receiverEmail {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 1%;
}

.copyButton {
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;
    margin-left: auto;
    margin-right: 1%;
}

.copyButton:hover {
    background-color: #ffe8e6;
    color: #000;
}


.senderEmail{
    width: 80%;
    height: 2.6rem;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    font-size: 1.8rem;
}

.senderEmail:focus {
    outline: none;
    border: none;
}

.subjectBox{
    width: 90%;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    border: 2px solid #ccc;
}

.subjectText{
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-left: 2%;
    margin-right: 2%;
}

.dynamicSubject{
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-left: 1%;
}

.mailContentContainer{
    width: 90%;
    height: 65%;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mailContent{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    width: 96%;
    height: 96%;
    outline: none;
    border: none;
    resize: none;
    text-align: justify;
    overflow-y: scroll;
}

.mailContent::-webkit-scrollbar {
    display: none;
}

.sendButton{
    width: 8rem;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.sendButton:hover{
    background-color: #ccc;
}

.sendBtnText{
    width: 70%;
    height: 100%;
    text-align: center;
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

.sendButton:hover > .sendBtnText{
    color: #333;
}

.sendIcon{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    user-select: none;
}

.sendButton:hover > .sendIcon{
    color:#333;
}